body {
    background: whitesmoke;

}
.start_menu body{
    font-size:1.3rem;
}
.start_menu a {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    margin: 0 10px 0 10px;
    font-size: 28px;
    display: inline;
    transition: color .2s;
    color:#191970;
}
.start_menu a:hover{
    color:#008080;
}
.start_menu ul{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.start_menu li {display: inline-block;}
.start_menu li:after {
    content: "|";
    color: #606060;
    display: inline;
    vertical-align:top;
}
.enter_and_reg a{
    text-decoration: none;
    position: relative;
    margin: 0 5px 0 5px;
    font-size: 20px;
    display: inline;
    color:#191970
}
.enter_and_reg a:hover{
    color:#008080;
}
.enter input{
    font-size: 30px;
}
.enter b{
    font-size: 30px;
}
.ent_button button{
    width: 90px;
    height: 30px;
    margin: 0 0 0 100px;
    font-size: 20px;
}
.ent_button button:hover{
    background-color: firebrick;
}
.reg_button button{
    width: 90px;
    height: 30px;
    margin: 0 0 0 290px;
    font-size: 20px;
}
.reg_button button:hover{
    background-color: firebrick;
}
.list_estates img{
    margin: 30px 0 0 30px;
}
.list_estates p{
    display: inline-block;
    text-align: center;
    margin: 0 0 0 50px;
    font-size: 25px;
}
.list_estates a{
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 25px;
    display: inline;
}
.list_estates a:hover{
    color:#008080;
}
.list_estates button{
    font-size: 18px;
}
.list_estates button:hover {
    background-color: firebrick;
}
.add_button button{
    margin: 30px 0 0 60px;
    font-size: 18px;
    display: inline;
}
.add_button button:hover {
    background-color: firebrick;
}
.color_header_1 {
    font-size: 40px;
    color:#191970;
    margin: 10px 10px 10px 10px;
}
.addEstate {

}
.add_button2 button{
    margin: 0 0 0 330px;
    font-size: 20px;
    display: inline;
}
.add_button2 button:hover {
    background-color: firebrick;
}
