<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>enter</servlet-name>
        <jsp-file>/signification/enter.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>enter</servlet-name>
        <url-pattern>/enter/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>registration</servlet-name>
        <jsp-file>/signification/registration.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userinfo</servlet-name>
        <jsp-file>/clients/userinfo.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>userinfo</servlet-name>
        <url-pattern>/userinfo/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>treatment</servlet-name>
        <jsp-file>/signification/treatment.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>treatment</servlet-name>
        <url-pattern>/treatment/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>estates</servlet-name>
        <jsp-file>/real_estates/MyRealEstates.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>estates</servlet-name>
        <url-pattern>/estates/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>statistics</servlet-name>
        <jsp-file>/WEB-INF/statistics.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>statistics</servlet-name>
        <url-pattern>/statistics/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>users</servlet-name>
        <jsp-file>/clients/users.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>menu</servlet-name>
        <jsp-file>/menu/menu.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>estate</servlet-name>
        <jsp-file>/real_estates/MyRealEstate.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>estate</servlet-name>
        <url-pattern>/estate/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewEstate</servlet-name>
        <jsp-file>/real_estates/NewEstate.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewEstate</servlet-name>
        <url-pattern>/NewEstate/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editSpending</servlet-name>
        <jsp-file>/real_estates/editSpending.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editSpending</servlet-name>
        <url-pattern>/editSpending/*</url-pattern>
    </servlet-mapping>

</web-app>
